:root {
	--background-default: #f3f5f9;
	--mobile-width: 900px;
  }

.logoStyle {
	border-radius:1rem;
}

body{
	overflow: auto !important;
	padding-right: 0px !important;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon  > span{
	margin-right: 10px !important;
}

/* .cutom-navigation-tabs a.Mui-selected {
	color: #be5df6 !important;
} */

.feature-page-pictures-swiper{
	top: 10px !important
}

::-webkit-scrollbar {
	width: 20px;
  }

::-webkit-scrollbar-track {
background-color: transparent;
}

::-webkit-scrollbar-thumb {
background-color: #a0aba9;
}

::-webkit-scrollbar-thumb {
background-color: #a0aba9;
border-radius: 20px;
}

::-webkit-scrollbar-thumb {
background-color: #a0aba9;
border-radius: 20px;
border: 6px solid transparent;
background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
background-color: #7b8381;
}

.swiper-slide-featured-top{
	borderRadius:30px !important;
	overflow:auto !important;
	height:300px !important;
	cursor:pointer !important;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon > span{
	margin-right:auto !important;
	margin-left:auto !important;
}



/* @media only screen and (max-width: 1400px) {
	.swiper-slide-featured-top {
		height:300px !important;
	}
} */

@media only screen and (max-width: 600px) {
	.swiper-slide-featured-top {
		height:200px !important;
	}
	.swiper{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.css-1hpt7kt-MuiTabs-indicator{
		bottom: 5px !important;
	}
}



/* 
.swiper-slide {
	opacity: .75;
}

.swiper-slide-active {
	opacity: 1;
}

.swiper-slide-next {
	opacity: 1;
} */