:root {
	--background-default: #f3f5f9;
	--mobile-width: 900px;
  }

.logoStyle {
	border-radius:1rem;
}

body{
	overflow: auto !important;
	padding-right: 0px !important;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon  > span{
	margin-right: 10px !important;
}

/* .cutom-navigation-tabs a.Mui-selected {
	color: #be5df6 !important;
} */

.feature-page-pictures-swiper{
	top: 10px !important
}